*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Manrope", system-ui, -apple-system, BlinkMacSystemFont, Arial, sans-serif;
  background: #4B4949;
  color: #ffffff;
}

#app {
  max-width: 430px; /* условный iPhone 14 Pro Max */
  margin: 0 auto;
  min-height: 100vh;
}




